// Place all the styles related to the firsts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 7em;
  font-family: 'Super Mario 256';
  padding-top: .3em;
  padding-bottom: .5em;
  text-align: center;
}

#content {
  width: 45%;
  float: right;
  padding: 0 3em;
}

#firsts {
  padding: 0;
  margin: 0;
}

.name {
  font-size: 3.5em;
  font-family: 'Soft Marshmallow';
  text-shadow: 5px 5px grey;
  line-height: normal;
}

.bg {
  float: left;
  height: 100%;
  width: 960px;
}

body {
  margin: 0
}
