// Place all the styles related to the firsts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Soft Marshmallow';
  src: url('/assets/Soft Marshmallow.woff') format('woff');
}
@font-face {
  font-family: 'Super Mario 256';
  src: url('/assets/SuperMario256.ttf') format('truetype');
}

  #content {
    width:100%;
    padding: 0;
    text-align: center;
  }
  .name {
    color: white;
    font-family: 'Soft Marshmallow';
    text-shadow: 5px 5px black;
    line-height: normal;
  }
  h1 {
    font-size: 5em;
    color: white;
    text-shadow: 5px 5px black;
    font-family: 'Super Mario 256';
    padding-top: .3em;
    padding-bottom: .5em;
    text-align: center;
  }

#firsts {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}
@media only screen and (min-width: 960px){
  h1 {
    font-size: 7em;
    text-shadow: 5px 5px grey;
    font-family: 'Super Mario 256';
    color: black;
    padding-top: .3em;
    padding-bottom: .5em;
    text-align: center;
  }
  #content {
    width: 45%;
    float: right;
    padding: 0 3em;
  }
  .name {
    font-family: 'Soft Marshmallow';
    color: black;
    text-shadow: 5px 5px grey;
    line-height: normal;
  }
}
