<!DOCTYPE html>
<html data-0p="background: !url('/assets/jace_1.jpg') top left no-repeat; background-attachment:fixed;" data-250p="background: !url('/assets/jace_2.jpg') top left no-repeat; background-attachment:fixed;"data-500p="background: !url('/assets/jace_4.jpg') top left no-repeat; background-attachment:fixed;"data-750p="background: !url('/assets/jace_5.jpg') top left no-repeat; background-attachment:fixed;" >
  <head>
    <title>Jace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' content='width=device-width,inital-scale=1.0'>
  </head>

  <body>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
    <script>
$(function(){
  WebFont.load({
    custom: {
      families: ['Soft Marshmallow', 'Super Mario 256']
    },
    active: function(){
      $('#firsts').bigtext();
    }
  })
})
      var s = skrollr.init();
      if(s.isMobile()){
        s.destroy();
        $('html').css('background', "url('/assets/jace_1_mobile.jpg') top left no-repeat").css('background-attachment', "fixed")
      }
    </script>
  </body>
</html>
