<!DOCTYPE html>
<html data-0p="background: !url('/assets/jace_1.jpg') top left no-repeat; background-attachment:fixed;" data-250p="background: !url('/assets/jace_2.jpg') top left no-repeat; background-attachment:fixed;"data-500p="background: !url('/assets/jace_4.jpg') top left no-repeat; background-attachment:fixed;"data-750p="background: !url('/assets/jace_5.jpg') top left no-repeat; background-attachment:fixed;" >
  <head>
    <title>Jace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>var s = skrollr.init();</script>
  </body>
</html>
